<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Here are the friends that you followed !!</h1>
    {% for i in foll %}
      {% if i.following_name == user.username %}
        <a href="{% url 'chahana:completeUser' i.id %}">{{i.user}}</a>
        <form action="{% url 'chahana:deleteusers' i.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Unfollow">
        </form>
        <br>
      {% endif %}
    {% endfor %}
  </body>
</html>
